<meta http-equiv="Expires" CONTENT="0">
<meta http-equiv="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Pragma" CONTENT="no-cache">

<!-- Compiled and minified CSS -->

<title>MOOD App</title> 

<!-- font awesome script-->
<script src="https://kit.fontawesome.com/3af48100b2.js" crossorigin="anonymous"></script>

<link rel="icon" type="image/png" href="/static/images/mood_logo.png">
<link rel="stylesheet" href="/static/lib/materialize/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/lib/materialize/js/materialize.min.js"></script>
<link rel="stylesheet" href="/static/lib/noUISlider/css/nouislider.css">
<script src="/static/lib/noUISlider/js/nouislider.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script type="text/javascript" src="/static/lib/ejs.js"></script>
<script src="/static/lib/underscorejs/underscore-min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/editor.css"  media="screen,projection"/>
<!-- iro library to make color wheel pickers -->
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>